*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background: #343434;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  position: relative;
}

.scene-collection-dropdown-label {
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ef5f5f;
}

#scene-collection-dropdown {
  font-size: 24px;
  width: 100%;
}

.section-divider {
  width: 100%;
  height: 2px;
  background: #fff;
  margin: 20px 0;
}

.scene-button {
  font-size: 24px;
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  background: transparent;
  color: #fff;
  border-bottom: 2px solid #000;
}

.scene-button:hover {
  background: rgba(255, 0, 0, 0.25);
  cursor: pointer;
}

#copied-notification {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  background: #f00;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  transform: translateY(0);
  transition: all 300ms ease;
}

#copied-notification.in {
  transform: translateY(-100%);
}